@import "src/variables";

.header {
  &__logo {
    img {
      height: 48px;
    }
  }

  &__menu {
    ul {
      list-style-type: none;
    }
    li {
      border-bottom: 4px solid transparent;
      cursor: pointer;
      a {
        color: inherit;
        text-decoration: inherit;
      }
    }
    li:hover {
      color: $accent;
      border-bottom: 4px solid $accent;
    }
  }

  &__contact {
    &__button {
      height: 35px;
      width: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    a {
      height: 30px;
      transition: height 0.3s;
    }
    a:hover {
      height: 35px;
      transition: height 0.3s;
    }
  }

  &__settings {
    margin-left: 100px;
    button {
      background-color: $grey;
    }
    button:hover {
      background-color: $grey-dark;
    }
  }
}

.left {
  color: transparent;
}

.mid {
  color: transparent;
}
