<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <span class="title" style="font-size: 80px">About</span>
    </div>
  </div>

  <div class="row">
    <div class="Col-12 d-flex flex-column">
      <p>
        Hola, sóc l'Alex! Sóc un desenvolupador web full-stack. Visc a Manresa, un poble situat a una hora de Barcelona i vaig néixer el 8 de febrer del 1996.
      </p>
      <div class="d-flex align-items-center py-2">
        <img src="assets/icon/ubication.png" class="ms-3" style="height: 30px">
        <span class="ms-4"><b>Manresa</b></span>
      </div>
      <div class="d-flex align-items-center py-2">
        <img src="assets/icon/cake.png" class="ms-3" style="height: 30px">
        <span class="ms-4"><b>08/02/1996</b></span>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid px-0">
  <div class="diagonal-box">
    <div class="diagonal-box-bg"></div>
    <div class="diagonal-box-content">
      <div class="container">
        <div class="row">
          <div class="col-12 d-flex flex-column justify-content-end text-right text-white">
            <p>
              Em vaig graduar en Enginyeria Informàtica a la FIB (Universitat Politècnica de Catalunya) al gener de l'any 2020. Des d'aleshores, he estat treballant com a desenvolupador full-stack en diferents projectes web a una consultora que es diu IN2.
            </p>
            <p>
              Els projectes en què he treballat pertanyen al sector de la salut i el turisme, i la meva carrera va començar desenvolupant la part frontal d'aquestes plataformes. No obstant, amb el temps he anat donant suport i aprenent algunes tecnologies backend.
            </p>
          </div>
        </div>
        <div class="row pb-5">
          <div class="col-12 d-flex justify-content-end">
            <div class="d-flex flex-column buttons-column">
              <button mat-button class="my-1 py-1 bg-white">
                <img src="assets/icon/fib.png" class="ms-3" style="height: 30px">
                <span class="ms-4">Facultat d'Informàtica de Barcelona</span>
              </button>
              <button mat-button class="my-1 py-1 bg-white">
                <img src="assets/icon/in2.png" class="ms-3" style="height: 30px">
                <span class="ms-4">IN2 Ingeniería de la información</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="diagonal-box">
    <div class="diagonal-box-bg-white"></div>
    <div class="diagonal-box-content-white">
      <div class="container">
        <div class="row">
          <div class="col-12 d-flex flex-column justify-content-end text-right">
            <p>
              Em vaig graduar en Enginyeria Informàtica a la FIB (Universitat Politècnica de Catalunya) al gener de l'any 2020. Des d'aleshores, he estat treballant com a desenvolupador full-stack en diferents projectes web a una consultora que es diu IN2.
            </p>
            <p>
              Els projectes en què he treballat pertanyen al sector de la salut i el turisme, i la meva carrera va començar desenvolupant la part frontal d'aquestes plataformes. No obstant, amb el temps he anat donant suport i aprenent algunes tecnologies backend.
            </p>
          </div>
        </div>
        <div class="row pb-5">
          <div class="col-12 d-flex justify-content-end">
            <div class="d-flex flex-column buttons-column">
              <button mat-button class="my-1 py-1 bg-white">
                <img src="assets/icon/fib.png" class="ms-3" style="height: 30px">
                <span class="ms-4">Facultat d'Informàtica de Barcelona</span>
              </button>
              <button mat-button class="my-1 py-1 bg-white">
                <img src="assets/icon/in2.png" class="ms-3" style="height: 30px">
                <span class="ms-4">IN2 Ingeniería de la información</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
