<div class="container-fluid h-100">
  <div class="container d-flex flex-column">
    <div class="row h-100 d-flex flex-column justify-content-center mb-5 pb-5">
      <div class="col-12 d-flex justify-content-center">
        <div class="title">
          Alex Serra
        </div>
      </div>

      <div class="col-12 d-flex justify-content-center">
        <div class="subtitle">
          {{ "CoverComponent.SUBTITLE" | translate }}
          <div class="mx-4 subtitle-border"></div>
        </div>
      </div>
    </div>
  </div>
</div>
