<!--<div class="container-fluid">-->
<!--  <div class="container d-flex flex-column">-->
<!--    <div class="row pt-2">-->
<!--      <div class="col-12 d-flex justify-content-center justify-content-sm-end lang-menu">-->
<!--        <button type="button" class="lang-menu__item my-2 mx-3"-->
<!--                [class.selected]="lang.code == selectedLang"-->
<!--                *ngFor="let lang of languages"-->
<!--                (click)="setCurrentLanguage(lang.code)">-->
<!--          {{ lang.code | uppercase }}-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="header-container bg-white shadow-sm border-bottom w-100">
  <div class="header px-4 w-100">
    <app-header [languages]="languages"
                [language]="selectedLang"
                (languageChange)="setCurrentLanguage($event.code)"
                style="'width: 100%'">
    </app-header>
  </div>
</div>

<div class="section" id="cover">
  <app-cover></app-cover>
</div>

<div class="section" id="about">
  <app-about></app-about>
</div>
<!--    <div class="row h-100">-->
<!--      <div class="col-12">-->
<!--        <div class="console pt-2">-->
<!--          <header>-->
<!--            <p>guest@alexserravidal</p>-->
<!--          </header>-->
<!--          <div class="consolebody">-->
<!--            <div class="d-flex">-->
<!--              <div class="me-3"><span>></span></div>-->
<!--              <app-typing-effect  *ngIf="firstPhraseTexti18n"-->
<!--                                  [text]="firstPhraseTexti18n"-->
<!--                                  [showCursor]="false"-->
<!--                                  (finished)="onIntroTextFirstPhraseFinished()">-->
<!--              </app-typing-effect>-->
<!--            </div>-->
<!--            <div class="d-flex">-->
<!--              <div class="me-3" *ngIf="firstPhraseTypingFinished"><span>></span></div>-->
<!--              <app-typing-effect  *ngIf="startTypingSecondPhrase && secondPhraseTexti18n"-->
<!--                                  [text]="secondPhraseTexti18n"-->
<!--                                  [showCursor]="false"-->
<!--                                  (finished)="onIntroTextSecondPhraseFinished()">-->
<!--              </app-typing-effect>-->
<!--            </div>-->
<!--            <p *ngIf="secondPhraseTypingFinished">></p>-->
<!--          </div>-->
<!--          <img class="bm-img d-lg-none" src="assets/img/bitmoji-me.png">-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="button-row-container h-100 pt-3">-->
<!--      <div class="row button-row h-100">-->
<!--        <div class="col-xl-12 d-flex justify-content-center  align-items-center h-100">-->
<!--          <div>-->
<!--            <button type="button" class="btn-vmw draw"-->
<!--                    [disabled]="!isVmwButtonEnabled">-->
<!--              {{ 'APP.VIEW_WORK' | translate }}-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <img class="bm-img d-none d-lg-block" src="assets/img/bitmoji-me.png">-->
<!--    </div>-->
