<div class="container-fluid">
  <div class="container d-flex flex-column justify-content-between">
    <div class="row h-100">
      <div class="col-12">
        <div class="console pt-2 pt-sm-5">
          <header>
            <p>guest@alexserravidal</p>
          </header>
          <div class="consolebody">
            <div class="d-flex">
              <div class="me-3"><span>></span></div>
              <app-typing-effect [text]="'Hello, I\'m Alex Serra'"
                                 [showCursor]="false"
                                 (finished)="onIntroTextFirstPhraseFinished()">
              </app-typing-effect>
            </div>
            <div class="d-flex">
              <div class="me-3" *ngIf="firstPhraseTypingFinished"><span>></span></div>
              <app-typing-effect  *ngIf="startTypingSecondPhrase"
                                  [text]="'I\'m a full-stack web developer'"
                                  [showCursor]="false"
                                  (finished)="onIntroTextSecondPhraseFinished()">
              </app-typing-effect>
            </div>
            <p *ngIf="secondPhraseTypingFinished">></p>
          </div>
          <img class="bm-img d-lg-none" src="assets/img/bitmoji-me.png">
        </div>
      </div>
    </div>

    <div class="button-row-container h-100">
      <div class="row button-row h-100">
        <div class="col-xl-12 d-flex justify-content-center  align-items-center h-100">
          <div>
            <button type="button" class="btn-vmw draw"
                    [disabled]="!isVmwButtonEnabled">
              View my work
            </button>
          </div>
        </div>
      </div>
      <img class="bm-img d-none d-lg-block" src="assets/img/bitmoji-me.png">
    </div>
  </div>
</div>
